/* Tool Bar*/
.btn-color {
  background-color: #0288d1 !important;
}

.btn-color:hover {
  background-color: #ffab00 !important;
}

/* card*/
.card:hover {
  -webkit-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.51);
}

.card .card-button {
  position: absolute;
  left: 15%;

  bottom: -16px;
  width: 70%;

  transition: 0.5s !important;
  opacity: 0;
}

.card:hover .card-button {
  opacity: 1;
}

.card img {
  height: 290px !important;
}

/* button */
.card-body .btn {
  background-color: #e3474b !important;
  border: none;
}

section {
  background-color: none !important;
}

/* Card Title Background */

.card .card-tit {
  position: absolute;
  left: 0%;
  bottom: 0%;

  transition: 0.5s !important;
  opacity: 0;
}

.card:hover .card-tit {
  opacity: 1;
}

.card-tit {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.25rem;
}

.card-tit h6 {
  font-weight: bold;
  color: white;
}

/* Search */
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #0288d1;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background-color: #ffab00 !important;
  color: white;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: #0288d1 !important;
  border: none !important;
}

/* Animes */
.animes [class*="col-"] {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

/* With for container */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

/* Liste genr */
/* https://bootsnipp.com/snippets/Zk2Pz
 */
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 90%;
  border-radius: 3px;
  border: 1px solid #d1d3d4;
  font-weight: normal;
  background-color: #fff;
}

.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 0.5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  width: 2.5em;
  background: #e1e4e6;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: "\2714";
  text-indent: 0.9em;
  color: #c2c2c2;
}

.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: "\2714";
  text-indent: 0.9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #e3474b;
}

/* Filter Animes */
.textGenre {
  font-weight: bold;
  color: #fff;
}

.filterAnimes {
  background-color: #0288d1;
}
